html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;

}
iframe {
  width: 100%;
  height: 100%; 
  border: none;
  min-height: 60vh; 
  overflow: hidden;

}
@font-face {
    font-family: 'Glitch';
    src: url(Fonts/GlitchGoblin-2O87v.ttf);
}
h1{
text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #710773;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border-radius: 15px;
    font-family: 'Glitch';
    font-size: large;
    color: #F2E638;
}
.navbar a:hover{
    background-color: #270373;
}
.navbar li{
    display: inline-block;
}


.Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    justify-content: center;
    border: none;
  }

.tab {
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  font-family: 'Glitch';
  font-size: large;
  color: #F2E638;
  border: none;

}

.tab.active {
  background-color: #270373;
  border-bottom: none;
}

.tab-content {
  display: none;
  --border: 1px solid #F2E638;
  padding: 10px;
}

.tab-content.active {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #F2E638;
  padding: 8px;
}

.tabs_logos{
  display: inline-flex;
  width: 5%;
}

iframe {
  display: block;
  margin: 0 auto;
}


#bracketdiv {
  width: 100%;
  height: 80vh; /* 80% wysokości ekranu */
  border: none;
  position: relative;
  overflow: hidden;
}
.Bracket {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  position: absolute;
  left: 0;
  top: 0;
  cursor: grab;
}